@import "tailwindcss";
@import "../components/AnimatedBackground/AnimatedBackground.css";

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  background-color: #f8fafc;
  color: #1a202c;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.App {
  margin-top: 120px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
  z-index: 1;
  padding: 2rem 0;
}

/* Glass card effect */
.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.background-gray-here{
  background-color: #e6ebf2;
}

.glass-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Dark mode glass card */
body.dark-mode .glass-card {
  background: rgba(30, 41, 59, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

body.dark-mode .glass-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

